<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>圖文留言板</title>
  <style>
    input, label {
      margin:5px;
    }

    img {
      width: 100%;
    }

    .img-container {
      width: 150px;
      height: 150px;
    }
  </style>
</head>

<body>
  <div>
    <h2>發表一則圖文訊息</h2>
    <br>
    <label for="message">文字內容</label><input type="text" name="message" id="message">
    <br>
    <label for="image">圖片檔案</label><input type="file" name="image" id="image">
    <br>
  </div>
  <button id="btn" type="submit">送出</button>

  <main>

  </main>


  <!-- <main>
    <div>
      <hr>
      <p>sadfsdjfh</p>
      <div class="img-container"><img src="https://picsum.photos/500/400?random=1" alt=""></div>
    </div>
    <hr>
  </main> -->

  <script src="{{url_for('static', filename='index.js')}}"></script>

</body>
</html>